body {
  font-family: "Kadwa";
  color: yellow;
}
nav {
  background-color: #56595d;
}
.navbar-brand {
  color: yellow;
  font-size: 3em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navbar-brand:hover {
  color: yellow;
  font-size: 3em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav-link {
  color: yellow;
  font-size: 2em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav-item {
  padding-right: 2em;
}
.nav-link:hover {
  color: yellow;
  filter: blur(2px);
}
.jumbotron {
  background-image: url("/images/deadlift.jpg");
  margin-bottom: 0;
}
.fa-navicon,
.fas-bars {
  color: yellow;
  font-size: 50px;
}
.navbar-toggler-icon {
  background-image: url("/images/menu.svg");
  stroke: rgba(255, 255, 0, 0);
}
header ul {
  list-style-type: none;
  font-size: 3em;
}
@media (max-width: 768px) {
  header ul {
    font-size: 2em;
  }
  #img-trainer {
    display: inline;
    visibility: hidden;
  }
}
@media (max-width: 550px) {
  header ul {
    font-size: 1em;
  }
}
.urself {
  font-family: "Homemade Apple";
}
.off-bg {
  background-color: #8b898c;
}
#benefits {
  list-style-type: "#";
  font-size: 2em;
}
#benefits li {
  margin-bottom: 15px;
  font-style: italic;
  font-weight: 900;
}
.break-img {
  background-image: url(/images/squat.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}
.welcome {
  text-align: center;
  font-size: 2.5em;
  font-weight: 900;
}
.para {
  text-align: center;
}
.site-footer,
.site-footer ul,
a,
.btn-link {
  color: #ffffff;
}
.site-footer {
  background-color: #56595d;
}
.site-footer h5 {
  font-size: 2em;
  color: #ffffff;
}
.site-footer a:hover {
  filter: blur(1px);
  color: #ffffff
}
@media (max-width: 760px) {
  #logo-man{
    height: 100px;
  }
}
header p {
  font-size: 3em;
}.card {
  background-color: grey;
}
.card-header {
  font-size: 2em;
}
.prices {
  font-size: 1.5em;
}
.enrollment {
  font-size: 0.5em;
}
.ylw-mem {
  font-size: 2.5em;
}
.mem-ben {
  font-weight: 900;
}
.benies {
  columns: 2;
  -moz-columns: 2;
  -webkit-columns: 2;
}
.states:hover {
  filter: blur(1px);
  color: #ffffff
}
.state-bdy {
  background-color: lightgray
}
.card-img-top {
  max-height: 178px;
}